{{ define "menu"}}

    <!-- Menu -->
    <div id="sidebar" class="sidebar responsive">
        <ul class="nav nav-list">

            <li class="active">
                <a href="/admin/loanManage">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text"> 贷款管理 </span>
                </a>
            </li>


            <li >
                <a href="/admin/bannerManage">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> banner管理 </span>
                </a>
            </li>


            <li >
                <a href="/admin/admManage">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text"> 管理员 </span>
                </a>
            </li>


        </ul><!-- /.nav-list -->



    </div>

{{ end }}