{{ define "footer" }}

                <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
                </div><!-- /.row -->
                </div><!-- /.page-content-area -->
                </div><!-- /.page-content -->
                </div><!-- /.main-content -->

                <div class="footer">
                    <div class="footer-inner">
                        <!-- #section:basics/footer -->
                        <div class="footer-content">
                                        <span class="bigger-120">

                                        </span>
                        </div>

                        <!-- /section:basics/footer -->
                    </div>
                </div>


                </div><!-- /.main-container -->

                <!-- basic scripts -->

                <!--[if !IE]> -->
                <script type="text/javascript">
                window.jQuery || document.write('''<script src="../statics/js/admin/jquery.min.js">'''+"<"+"/script>");
                </script>

                <!-- <![endif]-->

                <!--[if IE]>
                <script type="text/javascript">
                window.jQuery || document.write('''<script src="../statics/js/admin/jquery1x.min.js">'''+"<"+"/script>");
                </script>
                <![endif]-->
                <script type="text/javascript">
                if('ontouchstart' in document.documentElement) document.write('''<script src="../statics/js/admin/jquery.mobile.custom.min.js">'''+"<"+"/script>");
                </script>
                        <script src="../statics/js/admin/bootstrap.min.js"></script>

                <!-- page specific plugin scripts -->

                <!-- ace scripts -->
                        <script src="../statics/js/admin/ace-elements.min.js"></script>
                        <script src="../statics/js/admin/ace.min.js"></script>

                </body>
                </html>
{{ end }}